/*Nav*/
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
[nz-menu] {
  border: none;
}
[nz-menu-item] {
  height: 100% !important;
  font-weight: 400;
  padding: 10px 20px !important;
}
.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  color: var(--dark-black);
}
[nz-menu-item]:focus {
  color: var(--dark-green);
}
[nz-menu-item]:hover,
[nz-menu-item]:focus {
  background: var(--light-green);
  color: var(--dark-black);
  border-bottom: 2px solid var(--dark-green) !important;
}
.menu-button {
  padding: 5px 10px;
  background: var(--light-gray);
  border: 1px solid var(--light-black);
  border-radius: 3px;
  display: grid;
  place-items: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
[nz-icon] {
  margin-right: 6px;
  font-size: 24px;
  background: red;
  z-index: 10;
}
/*Banner*/
.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4)
    ),
    url("../../../assets/img/girl1.jpg");
  background-size: cover;
  background-position: top;
  height: 110%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}
.banner-content {
  width: auto;
}
.banner h1 {
  color: var(--dark-gray) !important;
}
.mobile-menu {
  display: none;
}
.desktop-menu {
  display: block;
}
.logo {
  margin: 8px 0;
}
@media only screen and (max-width: 968px) {
  .mobile-menu {
    display: block;
  }
  .desktop-menu {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .banner {
    justify-content: flex-end;
    padding: 30px 15px;
    height: 80%;
  }
  .banner-content {
    width: auto;
  }
}
