<section class="service">
  <div>
    <h1 nz-typography>It's time to forget about deposits.</h1>
    <button class="button but-lg but-green">Get your deposit</button>
  </div>
  <ul>
    <li>
      <i nz-icon nzType="check-circle" nzTheme="outline"></i><br />
      We pay the deposit for tenants.
    </li>
    <li>
      <i nz-icon nzType="check-circle" nzTheme="outline"></i><br />Landlords
      always get a cash deposits.
    </li>
    <li>
      <i nz-icon nzType="check-circle" nzTheme="outline"></i><br />Secured with
      government deposit schemes.
    </li>
    <li>
      <i nz-icon nzType="check-circle" nzTheme="outline"></i><br />Available for
      all devices across all platforms.
    </li>
  </ul>
</section>
