<section class="working">
  <h2 nz-typography>How does it's work ?</h2>
  <div class="working-inner">
    <div>
      <span class="working-step">1</span><br />
      <p>
        They'll tell us a few simple details about themeselves and the new
        property
      </p>
    </div>
    <div>
      <span class="working-step">2</span>
      <br />
      <p>
        We'll send their cash deposit to you or the landloard and register it
        with your preferred deposit schme.
      </p>
    </div>
    <div>
      <span class="working-step">3</span>
      <br />
      <p>When the tenancy ends, the deposit is returned to Patch</p>
    </div>
  </div>
  <span>
    <p>
      You'll ask the prospective tenants to pay a security deposit and they'll
      come to Patch. <br />
      A simple, streamlined process for you and the tenants.
    </p>
    <button class="button but-lg but-black">Book a Demo</button>
  </span>
</section>
