<section class="demo-content">
  <div>
    <h2 nz-typography>
      Free referencing, even if the tenant doesn't have a Patch deposit.
    </h2>
    <span>
      <p>
        We've partnered with the UK's biggest credit agency, Experian. As part
        of this link-up we're able to offer you free referencing; saving you
        time and money
      </p>
      <p>
        We'll also help you everything from historic damages and disputes, to
        personal information and missed rental payments.
      </p>
    </span>
  </div>
  <span class="line"></span>
  <div>
    <h2 nz-typography>
      Reduce late payments & help to build your tenants credit history.
    </h2>
    <span>
      Our partnership with Experian is designed to encourage ontime payments. A
      tenants Patch payment history will be highlighted on the credit report,
      meaning there's more of an incentive to pay rent and demages on time.
    </span>
  </div>
</section>
