<footer class="home-footer">
  <div>
    <span>
      <h4>
        Roomers dekho made apartment hunting and renting easy.
      </h4>
    </span>
    <span>
      <h5>Community</h5>
      <ul>
        <li>For Tenants</li>
        <li>For Landlords</li>
        <li>For Agents</li>
        <li>Search Properties</li>
        <li>FAQ's</li>
      </ul>
    </span>
    <span>
      <h5>About Us</h5>
      <ul>
        <li>Our Story</li>
        <li>Meet the Team</li>
        <li>Careers</li>
      </ul>
    </span>
    <span>
      <h5>Stay up to date</h5>
      <p>Subscribe to our news letter to receive our weekly feed</p>
    </span>
  </div>
  <p>2020 @Roomers All rights reserved</p>
</footer>
