<footer class="home-footer">
  <div>
    <span>
      <h3 nz-typography>Patch made apartment hunting and renting easy.</h3>
    </span>
    <span>
      <h4 nz-typography>Community</h4>
      <ul>
        <li>For Tenants</li>
        <li>For Landlords</li>
        <li>For Agents</li>
        <li>Search Properties</li>
        <li>FAQ's</li>
      </ul>
    </span>
    <span>
      <h4 nz-typography>About Us</h4>
      <ul>
        <li>Our Story</li>
        <li>Meet the Team</li>
        <li>Careers</li>
      </ul>
    </span>
    <span>
      <h4 nz-typography>Stay up to date</h4>
      <p>Subscribe to our news letter to receive our weekly feed</p>
    </span>
  </div>
  <p>2020 @Patch All rights reserved</p>
</footer>
